
.nav{
    /* border: 2px solid black; */
    height: 55px;
    background-color: #dfe6e9;
    display: flex;
    width: 100%;
    /* padding-top: 5px; */
    /* border: 2px solid black; */
}

.navLogo img{
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

.navLogo{
    height: 40px;
    width: 50px;
    /* margin-top: 20px; */
    /* border: 2px solid black; */
    margin-left: 2%;

}

.cmsTag{
    /* border: 2px solid black; */
    width: 5%;
    height: 35%;
    margin-top: 15px;
    text-align: center;
    margin-left: 2%;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.btnDiv{
    /* border: 2px solid black; */
    width: 40%;
    height: 60%;
    margin-left: 55%;
    margin-top: 10px;
    /* margin-right: 1%; */
    display: flex;
    justify-content: space-around;
}


.navBtn{
    border:none;
    background-color:skyblue;
    color: black;
    font-weight: bolder;
    height:100%;
    /* margin-top: 20px; */
    padding: 1% 3%;
    cursor:pointer;
    border-radius: 5px;
}

.navBtn a {
    text-decoration: none;
    color: black;
}


@media screen and  (max-width:600px) {

        .btnDiv{
            margin-left: 30%;
            width: 49%;
        }
        .nav{
            width: 100%;
        }
        .cmsTag{
            /* margin-top: 6%; */
        }
        .navLogo{
            width: 40px;
        }
    
}